.git
.gitignore

.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage

.vscode
.idea

tests
logs

*.log
*.tmp
*.swp
*.swo

.env
.env.*

node_modules

docs
